.parametersContainer{
    display: flex;
    flex-direction: row;
}

.parametersContainer label{
    flex: 1;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.parametersContainer input{
    flex: 2;

    width: 100%;
}

.terms {
    display: flex;
    flex-direction: row;
}

.terms p{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.terms a{
    margin-left: 5px;
}

